@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
    --colorGrisOscuro: #353A40;
    --colorVerde: #29A744;
    --colorCeleste: #1D9FB7;
    --colorRojo: #E33848;
    --colorGrisClaro: #6A747E;
    --colorAmarillo: #F8C40E;
    --colorPetroleo: #1C465E;
    --colorVerdeClaro: #96C93E;
    --colorNegro: #121111;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 100vh;
}

.nav__principal{
    display: flex;
    height: 12%;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--colorGrisOscuro);
    padding: 2px 70px;
}

.nav__principal h2{
    color: white;
    font-weight: 500;
}

.nav__principal__encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__principal__encabezado__ancla__img{
    display: flex;
    align-items: center;
    text-decoration: none;   
}

.nav__principal__encabezado__ancla__img img{
    max-width: 10em;
    height: auto;
    object-fit: contain;
}

.menu__horizontal{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__horizontal li{
    margin-right: 20px;
}

.menu__horizontal li:last-child{
    margin-right: 0;
}

.menu__horizontal a {
    text-decoration: none;
    color: var(--colorGrisClaro);
    font-size: 17px;
    font-weight: 400;
}

.menu__horizontal a:hover{
    color: white;
}

.menu__horizontal .textoColorVerde{
    color: var(--colorVerde);
}

.presentacion__principal{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: 88%;
    background: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(../assets/img/hawaii.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 70px;
}

.presentacion__principal h1{
    font-size: 2.2rem;
    color: white;
}

.presentacion__principal p{
    width: 50em;
    padding-top: 15px;
    text-align: end;
    color: white;
    font-size: 1.1rem;
}

.presentacion__principal__botones{
    display: flex;
    flex-direction: row;
}

.presentacion__principal__botones .btn_ancla{
    margin: 20px 0 0 20px;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;

}

.btnColorVerde{
    background-color: #29A744;
}

.btnColorTransparente{
    border: 1px solid white;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180vh;
}

.oradores{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oradores h2{
    text-align: center;
    color: var(--colorNegro);
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 0;
}

.oradores h2 span{
    text-align: center;
    display: block;
    color: var(--colorNegro);
    font-size: 2.2rem;
    font-weight: 700;
}

.contenedor_general{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.contenedor__foto__descripcion{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 40px;
}

.contenedor__foto__descripcion:last-child{
    margin-right: 0px;
}

.img{
    width: 100%;
    height: 20em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contenido{
    padding: 20px;
    border-left :0.5px solid #d2d2d2;
    border-right :0.5px solid #d2d2d2;
    border-bottom :0.5px solid #d2d2d2;
}

.contenido h3 {
    font-weight: 700;
    padding: 10px 0px;
}

.contenido h4 {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 800;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

.colorAmarillo{
    background-color: var(--colorAmarillo);
}

.colorCeleste{
    background-color: var(--colorCeleste);
}

.colorGris{
    background-color: var(--colorGrisClaro);
}

.colorRojo{
    background-color: var(--colorRojo);
}

@media screen and (max-width: 760px){
    .contenedor_general{
        padding: 0px 0px;
    }

    .contenedor__foto__descripcion{
        margin-right: 0px;
        margin-bottom: 30px;
    }
}